<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<style>
		.header1{
			text-align: center;
			padding-top: 50px;
		}
	</style>
	
</head>
<body>
	<div class="header1">
	<p style="text-align: center; padding-top: 0px; font-size: 30px;"><strong>Welcome Admin!</strong></p>
	<a href="/admin/add">Add Medicine</a> |
	<a href="/admin/allmedicine">View All Medicine</a> |
	<a href="/admin/alluser">View All User</a> |
	<a href="/admin/allorder">View All Order</a> |
	<a href="/logout">logout</a>
	</div>
	<br><br>
	
</body>
</html>